body {
  font-family: Arial, sans-serif;
  color: #eee;
  background-color: #4d4d4d;
}

main {
  color: #eee;
  margin: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 22px;
  margin: 5px;
}

h2 {
  font-size: 18px;
  margin: 5px;
}

p {
  font-size: 16px;
  margin: 5px;
}

a {
  color: white;
}

#questionRepeat {
  margin: 20px 0;
  padding: 10px;
  border: 1px dotted white;
}

#ball {
  min-width: 400px;
  min-height: 400px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#answer {
  background-color: rgb(237, 237, 237);
  border-radius: 50%;
  color: black;
  padding: 20px;
}

#questionField {
  background-color: inherit;
  color: white;
  border: 2px solid #eee;
  font-size: 22px;
  text-align: center;
  box-sizing: border-box;
  width: 400px;
  height: 60px;
  margin: 10px auto;
  padding: 10px;
  display: block;
}

#askButton {
  border: none;
  background-color: #ef8e00;
  color: #222;
  font-size: 22px;
  font-weight: bold;
  width: 150px;
  height: 60px;
  padding: 15px;
  margin: auto;
  cursor: pointer;
  display: block;
}

#askButton:hover {
  background-color: #ffb345;
}
